h1 {
	background-color: #3c599b;
	text-align: center;
	color: white;
	box-shadow: 10px 10px 5px #888888;
	padding-bottom: 20px;
	padding-top: 20px;
}

.posts{
	background-color: #272822;
	color: white;
}
.other{
	background-color: #000000;
	height: 300px;
	color: #888888;
}