<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js">	
</script>
<link rel="stylesheet" type="text/css" href="social.css">
	<title>Social One: by MC and GH</title>
		<div>
			<h1> Social One </h1>
		</div>

<script>
// 	$(document).ready(function(){
// 	  $.ajaxSetup({ cache: true });
// 	  $.getScript('//connect.facebook.net/en_UK/all.js', function(){
// 	  	FB.init({
// 	  		appID: "Add APP ID here.",
// 	  		channelURL: '//apphere.com/channel.html',
// 	  	});
// 	  	$('#loginbutton,#feedbutton').removeAttr('disable');
// 	  });
// 	});
</script>


	<body>

		<div class="posts">
			<form name="input" action="/facebook" method="post">
				Update: <input type="text" name="update"><br />
				<input type="submit" value="submit">
			</form>
		</div>

		<div class="media">
			Which site?


			
		</div>

		<div class="other">
			
			<img src="http://sites.psu.edu/alaaansarii/files/2013/05/butterfly-flying-evening-wings.jpg" width= 100px length= 100px />
			Maybe something else here!
		</div>

		<script>
		</script>

	</body>